.contacts {
    @extend %list;

    display: none;
    
    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
}

.contacts__item {
    margin-bottom: 10px;
}

.contact {
    @extend %link;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding: 0;

    transition: color var(--anim-slow);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }    
}

.mail {
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

.ico {
    margin-right: 10px;
    object-position: center;
    fill: currentColor;

    transition: color var(--anim-slow);

    & :hover,
    & :focus {
        color: var(--accent-color);
    }    
}

.map {
    margin-bottom: 9px;
}

.mail-footer {
    margin-bottom: 9px;
}










