.mobile-menu-btn {
    background-color: transparent;
    border: none;
    margin-left: auto;
    width: 40;
    height: 40;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu-icon:hover .mobile-menu-btn,
.mobile-menu-icon:focus .mobile-menu-btn {
        fill: var(--accent-color);
}

.mobile-menu-burger {
    transition: 500ms;

    .mobile-menu-btn.is-open & {
        opacity: 0;
    }
}

.mobile-menu-close {
    opacity: 0;
    transition: 500ms;

	.mobile-menu-btn.is-open & {
		opacity: 1;
	}
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    z-index: 100;

    background-color: var(--primery-white-coloc);

    transform: translateX(100%);

    transition: transform 500ms;

    &.is-open {
        transform: translateX(0);
    }
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-item {
    font-family: var(--main-font);
    color: var(--title-text-coloc);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    &__current {
        color: var(--accent-color);
    }
}

.mobile-menu-contacts {
    margin-bottom: 32px;
}

.mobile-menu-contacts__item {
    font-family: var(--main-font);
    color: var(--primery-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
}

.mobile-menu-tel {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.17;
}

.mobile-menu-contacts__item {
    margin-bottom: 32px;
}

.mobile-menu-socials {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    gap: 10px;
    flex-wrap: wrap;
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}