.nav {
    display: none;
    
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.nav__list {
    @extend %list;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-coloc);
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 32px 0 31px 0;
    transition: color var(--anim-slow);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }    
}


.nav__link--current {
    color: var(--accent-color);
    display: block;
    position: relative;

    &::after {
        content: '';

        display: inline-block;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
        position: absolute;
    }    
}

