.section__footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--primery-white-coloc);
    background-color: var(--titel-background-color);
    font-style: normal;
}

.section__team {
    padding: 60px 0;
    background-color: var(--secondary-background-color);

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.portfolio__section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 94px;
    }
}