%list {
    display: flex;
    justify-content: center;
    list-style: none;
}

%link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-coloc);
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 32px 0 31px 0;
    transition: color var(--anim-slow);
}