.about {
    padding-bottom: 94px;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        position: relative;
        width: 370px;
        height: 294px;
        margin-bottom: 0;
    }

    &__text {
        position: absolute;
        padding: 35px;
        bottom: 0;
        width: 100%;
        font-style: normal;
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        line-height: 0.16;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        background: rgba(47, 48, 58, 0.8);
        color: var(--primery-white-coloc);
    }
}

.about__list {
    @extend %list;
}