.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-contacts {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding: 0;
    } 

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        flex-direction: row;
    }
}

.footer-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        width: 231px;
        margin-bottom: 20px;
        align-items:flex-start;
    }
}

.footer-add {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-top: 12px;
    }
}

.footer-follow {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        width: 570px;
        align-items: normal;
    }
}

.ico-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.add {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px; 
    letter-spacing: 0.03em;
}

.footer-add {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        width: 206px; 
        align-items:flex-start;
    } 
}

.add-to-us {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--primery-white-coloc);
    outline: transparent;

    @media screen and (min-width: 1200px) {
        width: 358px;    
    }
    

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}