.footer-follow {
    width: 570px;
    flex-direction: row;
}

.footer {
    display: flex;

    &-main {
        margin-right: 70px;
        width: 231px;
    }

    &-contacts {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding: 0;
    }
}

.ico-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.add {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px; 
    letter-spacing: 0.03em;
}

.footer-add {
    padding-top: 12px;
    margin-right: 93px;
    width: 206px;
}

.add-to-us {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 10px;
    justify-content: flex-end;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--primery-white-coloc);
    outline: transparent;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form {
    display: flex;
    justify-content: flex-end;
}