.portfolio {
    @extend %list;

    margin-bottom: 56px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (min-width: 1200px) {
            justify-content: center;
        }
}

.portfolio__item {
    margin-right: 8px;
    margin-bottom: 15px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.project {
    @extend %list;

    flex-wrap: wrap;
    margin: -15px;    
}

.project__item {
    width: 370px;
    margin: 15px;

    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.project__border {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}

.project__card {
    display: block;
}

.project__text {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.project__aside {
    position: relative;
    display: block;
    overflow: hidden;
}

.project__desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: var(--main-font);
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: var(--primery-white-coloc);

    transition: var(--anim-slow), opasiti linear;
    transform: translatey(+100%);

    overflow: hidden;
}

.project__title {
    margin-bottom: 4px;
    color: var(--title-text-coloc);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font);
    letter-spacing: 0.06em;
    line-height: 2;
}


.project__item:hover .project__desc {
    content: '';
    transform: translatey(0);
}